<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HogwartsBot scoreboard</title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109160129-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-109160129-1');
	</script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/resources/main.css">
</head>
<body>
	{{{body}}}
</body>
</html>