<div id="rezultati">

	<div class="dom" id="gryffindor">
		<div class="logo"><img src="/resources/slike/gryffindor.png"></div>
		<div class="ime">Gryffindor</div>
		<div class="tocke">{{gryffindor}}</div>
	</div>

	<div class="dom" id="ravenclaw">
		<div class="logo"><img src="/resources/slike/ravenclaw.png"></div>
		<div class="ime">Ravenclaw</div>
		<div class="tocke">{{ravenclaw}}</div>
	</div>

	<div class="dom" id="slytherin">
		<div class="logo"><img src="/resources/slike/slytherin.png"></div>
		<div class="ime">Slytherin</div>
		<div class="tocke">{{slytherin}}</div>
	</div>

	<div class="dom" id="hufflepuff">
		<div class="logo"><img src="/resources/slike/hufflepuff.png"></div>
		<div class="ime">Hufflepuff</div>
		<div class="tocke">{{hufflepuff}}</div>
	</div>

</div>
<script src="/resources/index.js"></script>